<!DOCTYPE html>
<html>
    <head>
        <title>MPLinksters</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/uikit.min.css" />
        <link rel="shortcut icon" type="image/png" href="static/img/mp.png"/>
        <script src="static/js/uikit.min.js"></script>
        <script src="static/js/uikit-icons.min.js"></script>
    </head>
    <body>
        {{template "menu.html"}} 

        <div class="uk-container uk-container-center uk-margin">
            <ul class="uk-iconnav">
                <li><span class="uk-margin-small" uk-icon="menu" uk-tooltip="Menu" uk-toggle="target: #offcanvas-slide"></span></li>
                <li><span class="uk-margin-small" uk-icon="plus" uk-tooltip="New Game" uk-toggle="target: #id-add"></span></li>
            </ul>
        </div>

        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
            <h3 class="uk-card-title">Games</h3>
            {{if .IsGameToday}}
                <div>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-body" uk-toggle="target: #id-edit">
                        <h3>Today's Game</h3>
                        <p>{{.Games.Date}}</p>
                        <p>Ninth Tee: {{.Games.Tee.Name}}</p>
                        <p>Weather: <img src="{{printf "https://developer.accuweather.com/sites/default/files/%02d-s.png" .Weather.WeatherIcon}}">{{.Weather.Temperature}}&deg;F</p>
                    </div>
                </div>
            {{else}}
                <p>No Games Yet Today</p>
            {{end}}    
        </div>
        <div id="id-edit" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <form action="/editgame" method="POST">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">Game Details</legend>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="ninth-tee">Ninth Tee Box</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="ninth-tee" name="ninth-tee" value="{{.Games.Tee.Name}}">
                                {{range $tee := .Tees}}
                                    <option value="{{$tee.ID}}">{{$tee.Name}}</option>
                                {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label><input class="uk-checkbox" type="checkbox" checked id="ismatch" name="ismatch" value="{{.Games.IsMatch}}"> Match?</label>
                            </div>
                        </div>
                    </fieldset>
                    <button class="uk-button uk-button-primary" type="submit">Edit</button>
                </form>
                <table class="uk-table uk-table-small uk-table-middle uk-table-justify uk-table-hover uk-table-divider">
                    <tbody>
                        <tr><td><img src="{{printf "https://developer.accuweather.com/sites/default/files/%02d-s.png" .Weather.WeatherIcon}}"></td><td><a href={{.Weather.WeatherLink}}>Weather Details</a></td></tr>
                        <tr><td>Current Weather</td><td>{{.Weather.WeatherText}}</td></tr>
                        <tr><td>Temperature</td><td>{{.Weather.Temperature}}&deg;F</td></tr>
                        <tr><td>Feels Like</td><td>{{.Weather.FeelsLike}}&deg;F</td></tr>
                        <tr><td>Precipitation</td><td>{{.Weather.Precipitation}}</td></tr>
                        <tr><td>Wind</td><td>{{.Weather.Wind}}</td></tr>
                        <tr><td>Wind Gust</td><td>{{.Weather.WindGust}}</td></tr>
                        <tr><td>Wind Direction</td><td>{{.Weather.WindDirection}}</td></tr>
                        <tr><td>Humidity</td><td>{{.Weather.Humidity}}</td></tr>
                        <tr><td>Cloud Cover</td><td>{{.Weather.CloudCover}}&percnt;</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="id-add" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <form action="/addgame" method="POST">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">New Game</legend>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="ninth-tee">Ninth Tee Box</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="ninth-tee" name="ninth-tee">
                                {{range $tee := .Tees}}
                                    <option value="{{$tee.ID}}">{{$tee.Name}}</option>
                                {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label><input class="uk-checkbox" type="checkbox" checked id="ismatch" name="ismatch" value="true"> Match?</label>
                            </div>
                        </div>
                    </fieldset>
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </body>
</html>