<!DOCTYPE html>

<html>
    {{ template "header.html" }} 
    <body>
        {{ template "menu.html" . }} 
        <div class="uk-container uk-container-center uk-margin">
            <ul class="uk-iconnav">
                <li><span class="uk-margin-small" uk-icon="menu" uk-tooltip="Menu" uk-toggle="target: #offcanvas-slide"></span></li>
                {{ if (index .Player.Roles 2) }}
                <li><span class="uk-margin-small" uk-icon="plus" uk-tooltip="Add Player" uk-toggle="target: #id-add"></span></li>
                {{ end }}
            </ul>
        </div>
        <div class="uk-container uk-container-center uk-margin-top uk-box-shadow-small">
            {{ template "updateplayer.html" . }} 
            {{ template "deleteplayer.html" . }} 
            {{ template "addplayer.html" . }} 
            {{ template "viewplayer.html" . }} 
            <div class="uk-container">
                <legend class="uk-legend">Mariner's Point Linksters Roster</legend>
                <table class="uk-table uk-table-small uk-table-middle uk-table-justify uk-table-hover uk-table-divider ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            {{ if (index .Player.Roles 2) }}
                                <th></th>
                            {{ end }}
                        </tr>
                    </thead>
                    <tbody>
                        {{ if (index .Player.Roles 2) }}
                            {{range $player := .Players}}
                                <tr>
                                    <td uk-toggle="target: #id-{{$player.ID}}"><p class="uk-text">{{printf "%s" $player.PreferredName}}</p></td>
                                    <td uk-toggle="target: #id-{{$player.ID}}"><p class="uk-text">{{printf "%s" $player.Phone}}</p></td>
                                    <td uk-toggle="target: #id-del-{{$player.ID}}" uk-tooltip="Delete Player"><span class="uk-margin-small" uk-icon="trash"></span></td>
                                </tr>
                            {{end}}
                        {{ else }}
                            {{range $player := .Players}}
                                {{ if (eq $player.ID $.Player.ID) }}
                                    <tr>
                                        <td uk-toggle="target: #id-{{$player.ID}}"><p class="uk-text">{{printf "%s" $player.PreferredName}}</p></td>
                                        <td uk-toggle="target: #id-{{$player.ID}}"><p class="uk-text">{{printf "%s" $player.Phone}}</p></td>
                                    </tr>
                                {{ else }}
                                    <tr>
                                        <td uk-toggle="target: #view-id-{{$player.ID}}"><p class="uk-text">{{printf "%s" $player.PreferredName}}</p></td>
                                        <td uk-toggle="target: #view-id-{{$player.ID}}"><p class="uk-text">{{printf "%s" $player.Phone}}</p></td>
                                    </tr>
                                {{ end }}
                            {{end}}
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>