{{ range $event := .Events }}
<div id="view-event-{{$event.ID}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <legend class="uk-legend">{{printf "%s" $event.Name}}</legend>
        <div class="uk-margin" uk-grid>
            <table class="uk-table">
                <tbody>
                    <tr>
                        <td><p class="uk-text uk-text-bolder">Date: </p></td>
                        <td><p class="uk-text"> {{$event.Date}}</p></td>
                    </tr>
                    <tr><td><p class="uk-text uk-text-bolder">Description</p></td></tr>
                    <tr><td colspan="2"><p class="uk-text"> {{$event.Description}}</p></td></tr>
                    <tr>
                        <td><p class="uk-text uk-text-bolder">Owner:</p></td>
                        <td><p class="uk-text"> {{$event.Owner.PreferredName}}</p></td>
                    </tr>
                    <tr><td><p class="uk-text uk-text-bolder">Members</p></td></tr>
                    {{ range $member := $event.Members }}
                        <tr>
                            <td><p class="uk-text"> {{$member.Player.PreferredName}}
                        </tr>
                    {{ end }}
                    <tr><td><p class="uk-text uk-text-bolder">Messages</p></td></tr>
                    {{ range $msg := $event.Messages }}
                        <tr><td><p class="uk-text uk-text">{{ $msg.Date }}</p></td></tr>
                        <tr><td><p class="uk-text uk-text">{{ $msg.Message }}</p></td></tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}