<div class="uk-card-body">
    {{ template "eventjoin.html" . }}
    {{ template "eventdel.html" . }}
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-iconnav">
                <li onClick="showSection('eventadd')">
                    <span class="uk-margin-small" uk-icon="plus" uk-tooltip="Add Event"></span>
                </li>
            </ul>
        </div>
    </nav>
    <table class="uk-table uk-table-small uk-table-middle uk-table-justify uk-table-hover uk-table-divider ">
        <label class="uk-margin-small-top">Mariner's Point Linksters Events</label>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range $event := .Events }}
                <tr >
                    {{ if or ($.User.HasRole "Administrator") ($.User.HasRole "Calendar") (eq $event.Owner.ID $.User.ID) }}
                        <td onClick="showSection('eventedit/{{$event.ID}}')"><p class="uk-text-small">{{printf "%s" $event.Name}}</p></td>
                    {{ else }}
                        <td onClick="showSection('eventview/{{$event.ID}}')"><p class="uk-text-small">{{printf "%s" $event.Name}}</p></td>
                    {{ end }}
                    {{ if eq $event.Date "0001-01-01T00:00" }}
                        <td><p class="uk-text-small">No Date</p></td>
                    {{ else }}
                        <td><p class="uk-text-small">{{printf "%s" $event.Date}}</p></td>
                    {{ end }}
                    {{ if or ($.User.HasRole "Administrator") ($.User.HasRole "Calendar") (eq $event.Owner.ID $.User.ID) }}
                        <td uk-toggle="target: #id-eventdel-{{$event.ID}}" uk-tooltip="Delete Event"><span class="uk-margin-small" uk-icon="trash"></span></td>
                    {{ else }}
                        <td uk-toggle="target: #id-eventjoin-{{$event.ID}}" uk-tooltip="Join Event"><span class="uk-margin-small" uk-icon="plus-circle"></span></td>
                    {{ end }}
                </tr>
            {{end}}
        </tbody>
    </table>
</div>