<div class="uk-card-body">
    {{ if or (.User.HasRole "Administrator") (.User.HasRole "Game Manager") }}
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-iconnav">
                    <li onClick="showSection('gamechange')">
                        <span class="uk-margin-small" uk-icon="icon: plus; ratio: {{.User.IconRatio}}" uk-tooltip="Today's Game"></span>
                    </li>
                </ul>
            </div>
        </nav>
    {{ end }}
    {{printf "%#v" .Game.Weather}}
    <table class="uk-table uk-table-middle uk-table-justify uk-table-hover uk-table-divider ">
        <label class="uk-margin-small-top {{.User.TextPreference}}">Today's Game</label>
        <thead>
            <tr>
                <th><<p class="{{$.User.TextPreference}}">Temp</p></td>
                <th><<p class="{{$.User.TextPreference}}">Wind</p></td>
                <th><<p class="{{$.User.TextPreference}}">Gust</p></td>
                <th><<p class="{{$.User.TextPreference}}">Dir</p></td>
                <th><<p class="{{$.User.TextPreference}}">Precip</p></td>
            </tr>
        </thead>
        <tbody>
            {{range $weather := .Game.Weather }}
                    <tr>
                        <td><p class="{{$.User.TextPreference}}">{{printf "%s" $weather.Temperature}}</p></td>
                        <td><p class="{{$.User.TextPreference}}">{{printf "%s" $weather.Wind}}</p></td>
                        <td><p class="{{$.User.TextPreference}}">{{printf "%s" $weather.WindGust}}</p></td>
                        <td><p class="{{$.User.TextPreference}}">{{printf "%s" $weather.WindDir}}</p></td>
                        <td><p class="{{$.User.TextPreference}}">{{printf "%s" $weather.Precipitation}}</p></td>
                    </tr>
            {{end}}
        </tbody>
    </table>
</div>