<!DOCTYPE html>
<html>
    {{ template "header.html" . }} 
    <body onload="showSection('{{.Title}}')">
        {{ template "menu.html" . }}
        {{ template "wait.html" . }}
        {{ template "error.html" . }}
        <div class="uk-container uk-margin">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-iconnav">
                        <li><span class="uk-margin-small" uk-icon="icon: menu; ratio: {{.User.IconRatio}}" uk-tooltip="Menu" uk-toggle="target: #offcanvas-slide"></span></li>
                        <li><span class="uk-margin-small" uk-icon="icon: home; ratio: {{.User.IconRatio}}" uk-tooltip="Home" onClick="showSection('home')"></span></li>
                        <li><span class="uk-margin-small" uk-icon="icon: users; ratio: {{.User.IconRatio}}" uk-tooltip="Players" onClick="showSection('players')"></span></li>
                        <li><span class="uk-margin-small" uk-icon="icon: calendar; ratio: {{.User.IconRatio}}" uk-tooltip="Events" onClick="showSection('events')"></span></li>
                        <li><span class="uk-margin-small" uk-icon="icon: comment; ratio: {{.User.IconRatio}}" uk-tooltip="Messages" onClick="showSection('message')"></span></li>
                        <li><span class="uk-margin-small" uk-icon="icon: file-text; ratio: {{.User.IconRatio}}" uk-tooltip="Scores" onClick="showSection('scores')"></span></li>
                        <li><span class="uk-margin-small" uk-icon="icon: play-circle; ratio: {{.User.IconRatio}}" uk-tooltip="Game" onClick="showSection('game')"></span></li>
                    </ul>
                </div>
                {{ template "profilemenu.html" . }}
            </nav>
            <div class="uk-card-media-top uk-margin-top">
                <img class="uk-align-center" src="static/img/mp.png" alt="">
            </div>
            <div class="uk-container uk-container-center uk-margin-top uk-box-shadow-small uk-flex-expand uk-overflow-auto" id="focus">
            </div>
        </div>
        <script>

            function updateCache() {
                var cacheReq = new XMLHttpRequest();

                cacheReq.open("GET", "/cache", true);
                cacheReq.send();

                return false;
            }

            function showSection(s) {
                var sectionReq = new XMLHttpRequest();

                UIkit.offcanvas(document.getElementById("offcanvas-slide")).hide();

                sectionReq.onreadystatechange = function() {
                    updateCache();
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("focus").innerHTML =
                        this.responseText;
                        window.scrollTo(0, 0);
                    }
                    
                    if (this.readyState == 4 && this.status != 200) {
                        UIkit.modal(document.getElementById("error")).show();
                    }
                };
                
                sectionReq.open("GET", "/render/" + s, true);
                sectionReq.send();

                return false;
            }

            function submitForm(eForm, section, modalid) {
                var eReq = new XMLHttpRequest(),
                    eData = new FormData(eForm);

                for (var value of eData.values()) {
                    console.log(value);
                }

                if (modalid != "") {
                    UIkit.modal(document.getElementById(modalid)).hide();
                };
                
                UIkit.modal(document.getElementById("wait")).show();

                eReq.onloadend = function() {
                    UIkit.modal(document.getElementById("wait")).hide();
                    if (this.status != 200) {
                        UIkit.notification({message: "<span uk-icon='icon: check'></span> Complete!, With Errors...", pos: "top-center", status: "danger", timeout: 2000});
                    } else {
                        UIkit.notification({message: "<span uk-icon='icon: check'></span> Complete!", pos: "top-center", status: "success", timeout: 2000});
                        showSection(section);
                    }
                };
                eReq.open(eForm.getAttribute("method"), eForm.getAttribute("action"), true);
                eReq.send(eData);

                return false;
            }

        </script>
    </body>
</html>